## EXPERIMENT 7
## NEHA BHAT A2-25070123032
## TO STUDY LOOPS IN PYTHON

In [ ]:
# While loop : when no .of iterations are not known
#print i as long as i is less than 6:
i=0
while(i<6):
  print(i)
  i=i+1

0
1
2
3
4
5

In [ ]:
number = int(input("ENTER A NUMBER:"))
i=1
while(i<number):
  print(i)
  i =i+1

ENTER A NUMBER:7
1
2
3
4
5
6

In [ ]:
# FACTORIAL OF A NUMBER
number=int(input("ENTER A NUMBER:"))
i=number
while(i>0):
  fact = fact*i
  i=i-1
print(fact)

In [2]:
# Fibonacci Series using while loop

num = int(input("Enter the number of iterations: "))
n1 = 0
n2 = 1
print(n1, n2 , end = ' ')
num = num - 2

while(num > 0):
  n3 = n1 + n2
  print(n3, end = ' ')
  n1 = n2
  n2 = n3
  num -= 1

Enter the number of iterations: 9
0 1 1 2 3 5 8 13 21

In [3]:
# Reverse a Number

num = int(input("Enter the number to be reversed: "))
reverse = 0

while (num > 0):
  remainder = num % 10
  reverse = (reverse * 10) + remainder
  num = num // 10
print(reverse)

Enter the number to be reversed: 1234
4321

In [4]:
# Check Palindrome or not

text = input("Enter the String: ")
text = text.lower()
text1 = text[::-1]

if (text == text1):
  print("It is a Palindrome")
else:
  print("It is not a Palindrome")

Enter the String: NEHA
It is not a Palindrome

In [6]:
# Check Palindrome or not using While loop

text = input("Enter the String: ")
text = text.lower()
result = True
i = 0
j = len(text) - 1

while(i < j):

  if(text[i] != text[j]):
    result = False
    break
  else:
     i += 1
     j -=1

if(result):
  print("It is a Palindrome")
else:
  print("It is not a Palindrome")

Enter the String: MADAM
It is a Palindrome

## BREAK STATEMENT

In [ ]:
# PRINT 1 TO 5 AND LOOP RECHES TO I=3 EXIT
i=0
while(i<6):
  print(i)
  i+=1
  if(i==3):
     break

0
1
2

In [7]:
# SEARCH AN ELEMENT IN A LIST

s = [176, 175, 174, 166, 142, 141, 31, 32, 33, 29, 28, 27]

prn = int(input("Enter a 3 digit PRN: "))
i = 0
found = False

while(i < len(s)):
  if(prn == s[i]):
    print("Element found at index ", i + 1)
    found = True
    break
  i += 1

if not found:
  print("Element not Found")

Enter a 3 digit PRN: 032
Element found at index  8

In [8]:
# PRINT NUMBERS FROM 1 TO 10 AND SKIP 5

i = 0
while(i <= 10):
  if(i == 5):
    i += 1
    continue
  print(i)
  i += 1

0
1
2
3
4
6
7
8
9
10

In [9]:
# PRINT ONLY ODD NUMBERS FROM 1 TO 10

i = 1
while(i <= 10):
  if (i %2 == 0):
    i += 1
    continue
  else:
    print(i)
    i += 1

1
3
5
7
9

In [10]:
# PRINT NUMBERS FROM 1 TO 5

for i in range(1, 6):
  print(i)

1
2
3
4
5

In [11]:
 #PRINT EVEN NUMBERS FROM 1 TO 10

for i in range(2,11,2):
  print(i, end = ' ')

2 4 6 8 10

In [12]:
# SUM OF FIRST N NUMBERS

n = int(input("Enter the number: "))

sum = 0

for i in range(0, n+1):
  sum += i

print("The total is ", sum)

Enter the number: 133
The total is  8911

In [13]:
# NESTED FOR LOOP

for i in range(1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [14]:
# 3x3 MATRIX DISPLAY

A = [[1,2,3], [4,5,6], [7,8,9]]

for i in range(3):
  for j in range(3):
    print(A[i][j], end = " ")
  print()

1 2 3
4 5 6
7 8 9

In [15]:
A = [[1,2,3], [4,5,6], [1,2,1]]

B = [[1,1,1], [6,5,4], [3,2,1]]

result = [[0,0,0], [0,0,0], [0,0,0]]

for i in range(3):
  for j in range(3):
    for k in range(3):
      result[i][j] += A[i][k] * B[k][j]

print("Product of Matrices: ")
for row in result:
  print(row)

Product of Matrices:
[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [ ]:
# WRITE  PYHTON PROGRAM TO ACCEPT THREE DIGITS AND PRINT ALL POSSIBLE COMBINATION
a=4
b=5
c=6
d=[a,b,c]
for i in range (0,3):
  for j in range (0,3):
    for k in range (0,3):
      if (d[i]!=d[j] and d[j]!=d[k] and d[k]!=d[i]):
        print(d[i],d[j],d[k])

4 5 6
4 6 5
5 4 6
5 6 4
6 4 5
6 5 4

In [ ]:
# WRITE A PYTHON PROGRAM TO PRINT MSTRONG NUMBER(EG: 153,370,371,407.1634)
armst=int(input("ENTER A NUMBER:"))
i = 0

for digit in str(armst):
  i += int(digit)** len(str(armst))

if i==armst:
  print(" NUMBER IS ARMSTRONG")
else:
  print(" NUMBER IS NOT ARMSTRONG")

ENTER A NUMBER:157
 NUMBER IS NOT ARMSTRONG

In [ ]:
 # TO FIND OUT PRIME NUMBERS IN GIVEN RANGE
prime=int(input("ENTER A NUMBER :"))
for p in range (2,51):
  for i in range(2,prime):
    if p%i==0:
      break
  else:
    print(p)

ENTER A NUMBER :43
43
47

In [ ]:
n=6
for i in range (n):
  print(i*' ',(n-i)*'* ')

 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
n=6
for i in range (n):
  print((n-i)*' ',(i+1)*'* ')

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *

In [ ]:
# FLOYD'S TRIANGLE
n=4
num=1
for i in  range(1,n+1):
  for j in range(1,i+1):
    print(num,end=" ")
    num+=1
  print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
# INVERTED RIGHT ANGLED TRINGLE
for i in range(5,0,-1):
 print("* "*i)

* * * * *
* * * *
* * *
* *
*

In [16]:
# PRINT NUMBER TRIANGLE

n = 6

for i in range(1,n+1):
  for j in range(i):
    print(i, end = ' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6